{% extends 'adm_base.html' %}

{% block head %}
    <link rel="stylesheet" href="/static/css/mainpage.css">
    <link rel="stylesheet" href="/static/css/form.css">
{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        
        <h1>Registrar Domingo</h1>

        <label for="data">Data:</label>
        <input type="date" id="data" name="data" required>

        Selecione os Crismandos que estavam no domingo: 

        <div class="table-container">
            <table>
                <tr>
                    <th> Crismando </th>
                    <th title="Faltou"> F </th>
                    <th title="Justificou a falta"> J </th>
                    <th title="Presente"> P </th>
                </tr>
                
                {% for crismando in crismandos %}
                <tr>
                    <td>
                        <a href="/crismando/edit/{{crismando.id}}">{{crismando.nome}}</a>
                    </td>
                    <td>
                        <input type="radio" name="{{crismando.id}}" value="0" checked>
                    </td>
                    <td>
                        <input type="radio" name="{{crismando.id}}" value="1">
                    </td>
                    <td>
                        <input type="radio" name="{{crismando.id}}" value="2"> 
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <button type="submit">Registrar Domingo</button>
    </form>
</div>
{% endblock %}
