body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table-container {
    overflow-x: auto;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

.delete-btn {
    width: 100%;
    background-color: #ff5252;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #c84242;
}

.separated {
    display: flex;
    justify-content: space-between;
}

.flash {
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.red {
    background-color: #ff5252;
}

.green {
    background-color: #4CAF50;
}

.footer-container {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer-container a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.footer-container a:hover {
    color: #9a9a9a;
}

.footer-container a .fa-instagram,
.footer-container a .fa-github {
    font-size: 28px;
}

.fixed-footer {
    position: fixed;
    bottom: 0;
}

.relative-footer {
    position: relative;
}
