<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CrismaApp</title>
    <link rel="stylesheet" href="/static/css/header.css">
    {% block head %} {% endblock %}
</head>
<body>
    <header>
        <div class="app-title">
            <strong>CrismaApp</strong>
        </div>
        <nav>
            <ul>
                <li><a href="/">Crismandos</a></li>
                <li><a href="/encontros">Encontros</a></li>
                <li><a href="/domingos">Domingos</a></li>
                <li><a href="/dados">Baixar dados</a></li>
            </ul>
        </nav>
    </header>
    {% block content %}{% endblock %}
</body>
</html>