<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CrismaApp</title>
    <link rel="stylesheet" href="/static/css/header.css">
    {% block head %} {% endblock %}
    <script src="https://kit.fontawesome.com/ad50c3f97d.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="app-title">
            <strong>CrismaApp</strong>
        </div>
        <nav>
            <ul>
                {% block header %}
                <li><a href="/">Minha Frequência</a></li>
                {% endblock %}
            </ul>
        </nav>
    </header>
    {% block content %}{% endblock %}
    <footer>
        <div class="footer-container">
            <a href="https://instagram.com/felifelps.dev" target="_blank">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="https://github.com/Felifelps" target="_blank">
                <i class="fa-brands fa-github"></i>
            </a>
        </div>
    </footer>
</body>
</html>