{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="static/css/mainpage.css">
{% endblock %}

{% block content %}

<main>
    <h1>Domingos</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <p class="flash" style="background-color:{{ message.category }};">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <a href="/domingo/novo">Registrar domingo</a>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Frequência</th>
                </tr>
            </thead>
            <tbody>
                {% for domingo, frequencia in data.items() %}
                    <tr>
                        <td>{{ domingo.data.strftime('%d/%m/%Y') }}</td>
                        <td>
                            <select>
                                {% for registro in frequencia %}
                                    <option> <strong>{{ registro.crismando.nome }}</strong></option>
                                {% endfor %}
                            </select>
                            Presentes: {{ frequencia|length }}
                        </td>
                        <td><a href="/domingo/edit/{{ domingo.id }}">Editar</a>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>

{% endblock %}
