{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="/static/css/mainpage.css">
    <link rel="stylesheet" href="/static/css/form.css">
{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        
        <h1>Editar Crismando <i class="fa-solid fa-trash" onclick="checkForDelete()"></i></h1>

        <label for="nome">Nome completo:</label>
        <input type="text" id="nome" name="nome" value="{{ crismando.nome }}" required>

        <label for="data">Data de nascimento:</label>
        <input type="date" id="data" name="data" value="{{ crismando.data_nasc }}" required>

        <label for="tel">Telefone:</label>
        <input type="tel" id="tel" name="tel" value="{{ crismando.telefone }}" required>

        <label> Encontros: </label>
        {% for encontro in encontros %}
            <label for="{{encontro.id}}">
                <input type="checkbox" id="{{encontro.id}}" name="encontros[]" value="{{encontro.id}}" 
                {% if encontro in frequencia_encontro %} checked {% endif %}> {{encontro.tema}}
            </label>
        {% endfor %}

        <label> Domingos: </label>

        {% for domingo in domingos %}
            <label for="{{domingo.id}}">
                <input type="checkbox" id="{{domingo.id}}" name="domingos[]" value="{{domingo.id}}" 
                {% if domingo in frequencia_domingo %} checked {% endif %}> {{domingo.data.strftime('%d/%m/%Y')}}
            </label>
        {% endfor %}

        <button type="submit">Salvar Alterações</button>
        
    </form>
    <script>
        function checkForDelete() {
            if (window.confirm('Deseja deletar esse crismando?')) {
                window.open("/crismando/del/{{ crismando.id }}");
            }
        }
    </script>
</div>
{% endblock %}
