{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="/static/css/mainpage.css">
    <link rel="stylesheet" href="/static/css/form.css">
{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        
        <h1>Editar Encontro <i class="fa-solid fa-trash" onclick="checkForDelete()"></i></h1>
        <label for="tema">Tema:</label>
        <input type="text" id="tema" name="tema" value="{{ encontro.tema }}" required>

        <label for="data">Data:</label>
        <input type="date" id="data" name="data" value="{{ encontro.data }}" required>

        <div class="table-container">
            <table>
                <tr>
                    <th> Crismando </th>
                    <th title="Faltou"> F </th>
                    <th title="Justificou a falta"> J </th>
                    <th title="Presente"> P </th>
                </tr>
                
                {% for crismando in crismandos %}
                <tr>
                    <td> <a href="/crismando/edit/{{crismando.id}}">{{crismando.nome}}</a></td>
                    {% with test=frequencia.get(crismando, None) %}
                    <td>
                        <input type="radio" name="{{crismando.id}}" value="0"
                        {% if test == None %} checked {% endif %}> 
                    </td>
                    <td>
                        <input type="radio" name="{{crismando.id}}" value="1"
                        {% if test == True %} checked {% endif %}>
                    </td>
                    <td>
                        <input type="radio" name="{{crismando.id}}" value="2"
                        {% if test == False %} checked {% endif %}>
                    </td>
                {% endwith %}
                    
                </tr>
                {% endfor %}
            </table>
        </div>

        <button type="submit">Salvar</button>
    </form>
    <script>
        function checkForDelete() {
            if (window.confirm('Deseja deletar esse encontro?')) {
                window.location.replace("/encontro/del/{{ encontro.id }}");
            }
        }
    </script>
</div>
{% endblock %}
