{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="/static/css/mainpage.css">
    <link rel="stylesheet" href="/static/css/form.css">
{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        
        <h1>Editar Crismando</h1>

        <label for="nome">Nome completo:</label>
        <input type="text" id="nome" name="nome" value="{{ crismando.nome }}" required>

        <label for="data">Data de nascimento:</label>
        <input type="date" id="data" name="data" value="{{ crismando.data_nasc }}" required>

        <label for="tel">Telefone:</label>
        <input type="tel" id="tel" name="tel" value="{{ crismando.telefone }}" required>

        <button type="submit">Salvar Alterações</button>
        <a href="/crismando/del/{{ crismando.id }}">Deletar</a>
    </form>
</div>
{% endblock %}
