{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="static/css/mainpage.css">
{% endblock %}

{% block content %}

<main>
    <h1>Encontros</h1>
    <a href="/encontro/novo">Registrar encontro</a>
    <table>
        <thead>
            <tr>
                <th>Tema</th>
                <th>Data</th>
                <th>Frequência</th>
            </tr>
        </thead>
        <tbody>
            {% for encontro in encontros %}
                <tr>
                    <td>{{ encontro.tema }}</td>
                    <td>{{ encontro.data }}</td>
                    <td>
                        <select>
                            {% for registro in frequencia %}
                                {% if registro.encontro.id == encontro.id %}
                                    <option> <strong>{{ registro.crismando.nome }}</strong></option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                    <td><a href="/encontro/del/{{ encontro.id }}">Deletar</a>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</main>

{% endblock %}