{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="static/css/mainpage.css">
{% endblock %}

{% block content %}

<main>
    <h1>Encontros <a href="/encontro/novo"><i class="fa-solid fa-plus"></i></a></h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <p class="flash {{ category }}">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Tema</th>
                    <th>Data</th>
                    <th>Frequência</th>
                </tr>
            </thead>
            <tbody>
                {% for encontro, frequencia in data.items() %}
                    <tr>
                        <td>{{ encontro.tema }}</td>
                        <td>{{ encontro.data.strftime('%d/%m/%Y') }}</td>
                        <td>
                            Presentes: {{ frequencia|length }}
                            <select>
                                {% for registro in frequencia %}
                                    <option> <strong>{{ registro.crismando.nome }}</strong></option>
                                {% endfor %}
                            </select>
                        </td>
                        <td><a href="/encontro/edit/{{ encontro.id }}"><span id="icon" class="fa-solid fa-pen-to-square"></span></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>

{% endblock %}