{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="/static/css/mainpage.css">
    <link rel="stylesheet" href="/static/css/form.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <script src="https://kit.fontawesome.com/ad50c3f97d.js" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        
        <h1>Login</h1>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <p class="flash">{{ message }}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <label for="password">Senha:</label>
        <div id="input-group">
            <input type="password" id="password" name="password" required>
            <span id="icon" class="fas fa-eye" onclick="changePasswordVisibility()"></span>
        </div>

        <button type="submit">Entrar</button>
    </form>
</div>
<script src="/static/js/login.js"></script>
{% endblock %}
