{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="static/css/mainpage.css">
{% endblock %}

{% block content %}

<main>
    <h1>Crismandos <a href="/crismando/novo"><i class="fa-solid fa-plus"></i></a></h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <p class="flash {{ category }}">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <text>Quantidade: {{ data|length}}</text>
    <div class="table-container">
        <table style="overflow-x: auto;">
            <thead>
                <tr>
                    <th rowspan="2">Nome</th>
                    <th rowspan="2">Telefone</th>
                    <th rowspan="2">Data Nascimento</th>
                    <th rowspan="2">Idade</th>
                    <th colspan="2"> <center> Frequência </center></th>
                </tr>
                <tr>
                    <th> Encontros </th>
                    <th> Domingos </th>
                </tr>
            </thead>
            <tbody>
                {% for crismando, dados in data.items() %}
                    <tr>
                        <td>{{ crismando.nome }}</td>
                        <td><a href="https://wa.me/55{{ crismando.telefone.replace(' ', '') }}" target="_blank">{{ crismando.telefone }}</a></td>
                        <td>{{ crismando.get_data_nasc() }}</td>
                        <td>{{ crismando.idade }}</td>
                        <td>
                            Faltas: {{ dados.faltas_encontros }}
                            <select>
                                {% for registro in dados.encontros %}
                                    <option> {{ registro.encontro.data.strftime('%d/%m/%Y') }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            Faltas: {{ dados.faltas_domingos }}
                            <select>
                                {% for registro in dados.domingos %}
                                    <option> {{ registro.domingo.data.strftime('%d/%m/%Y') }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td><a href="/crismando/edit/{{ crismando.id }}"><span id="icon" class="fa-solid fa-pen-to-square"></span></a>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>

{% endblock %}