{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="static/css/mainpage.css">
{% endblock %}

{% block content %}

<main>
    <h1>Crismandos</h1>
    <a href="/crismando/novo">Registrar crismando</a>
    <div class="table-container">
        <table style="overflow-x: auto;">
            <thead>
                <tr>
                    <th rowspan="2">Nome</th>
                    <th rowspan="2">Telefone</th>
                    <th rowspan="2">Data Nascimento</th>
                    <th rowspan="2">Idade</th>
                    <th colspan="2"> <center> Frequência </center></th>
                </tr>
                <tr>
                    <th> Encontros </th>
                    <th> Domingos </th>
                </tr>
            </thead>
            <tbody>
                {% for crismando, dados in data.items() %}
                    <tr>
                        <td>{{ crismando.nome }}</td>
                        <td>{{ crismando.telefone }}</td>
                        <td>{{ crismando.data_nasc }}</td>
                        <td>{{ crismando.idade }}</td>
                        <td>
                            Faltas: {{ dados.faltas_encontros }}
                            <select>
                                {% for registro in dados.encontros %}
                                    <option> {{registro.encontro.id}}. {{ registro.encontro.data }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            Faltas: {{ dados.faltas_domingos }}
                            <select>
                                {% for registro in dados.domingos %}
                                    {% if registro.crismando.id == crismando.id %}
                                        <option> {{ registro.domingo.data }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                        <td><a href="/crismando/del/{{ crismando.id }}">Deletar</a>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>

{% endblock %}