{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="/static/css/mainpage.css">
    <link rel="stylesheet" href="/static/css/form.css">
{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        
        <h1>Registrar Domingo</h1>

        <label for="data">Data:</label>
        <input type="date" id="data" name="data" required>

        <label for="crismandos">Selecione os Crismandos que estavam no domingo:</label>
        <ul>
        {% for crismando in crismandos %}
            <label for="{{crismando.id}}">
                <input type="checkbox" id="{{crismando.id}}" name="crismandos[]" value="{{crismando.id}}"> {{crismando.nome}}
            </label>
        {% endfor %}
        </ul>

        <button type="submit">Registrar Domingo</button>
    </form>
</div>
{% endblock %}
