footer {
    background-color: #333;
    position: fixed;
    bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
}

footer a {
    margin-left: 10px;
    margin-right: 10px;
}

footer a i:hover {
    color: #aaa;
}

footer a i {
    font-size: 30px;
    color: #fff;
}
