form {
    margin: 0px;
}

label {
    color: #333;
}

form p {
    text-align: justify;
}

.button, input {
    width: 97.5%;
    margin: 5px 0px;
    padding: 5px;
}

.button {
    width: 100%;
}

.button {
    background-color: #4caf50;
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.button:hover {
    background-color: #3f8f41;
}

.safe, .danger {
    width: 120px;
    margin: 0px;
}

.danger {
    background-color: #e04444;
}

.danger:hover {
    background-color: #972c2c;
}

.buttons-container {
    margin: 10px auto;
    display: flex;
    justify-content: space-between; /* Distribui os itens nas bordas do container */
    align-items: center;
}

form input {
    width: 95%;
}

.input-group {
    display: flex;
}

.input-group span {
    margin: 5px 10px;
    cursor: pointer;
    font-size: 20px;
    align-content: center;
    align-items: center;
}