.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    max-height: min-content;
}

table tr {
    background-color: #fff;
}

table tr:hover {
    background-color: #eee;
}

.clickable {
    cursor: pointer;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}


table th {
    color: white;
    background-color: #4CAF50;
}
